<div style="padding: 3%;">
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="background-color: rgb(251, 237, 219);">#</th>
      <th scope="col" style="background-color: rgb(251, 237, 219);">First name</th>
      <th scope="col" style="background-color: rgb(251, 237, 219);">Last name</th>
      <th scope="col" style="background-color: rgb(251, 237, 219);">edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volunteer of _volunteerlist" >
      <td> {{volunteer.id}}</td>
      <td>{{ volunteer.firstName }} </td>
      <td>{{ volunteer.lastName }}</td>
      <td><button  type="button" class="btn btn-primary" (click)="selectVolunteer(volunteer)"  style="background-color:rgb(249, 160, 45) ;border-color: rgb(249, 160, 45);">edit</button></td>
      </tr>
  </tbody>
</table>
</div>




